.home_container {
  min-height: 100vh;
  height: auto;
}

.info_section {
  padding: 1em;
  margin-top: 2em;
  /* background-color: blue; */
  height: 40%;
  min-height: 10em;
  width: 100%;
  /* position: relative; */
  display: flex;
}

.owner_images {
  width: 40%;
  margin-bottom: 1em;
  /* height: 100%; */
}

.owner_images img {
  display: block;
  width: 100%;
  min-height: 16em;
  margin-top: 1em;
}

.company_info {
  padding-left: 1em;
  width: 60%;
  color: blue;
  font-size: larger;
}

.actions {
  display: none;
}

@media screen and (min-width: 900px) {
  .owner_images img {
    height: 20em;
    margin-left: 9em;
    min-height: 8em;
    width: 60%;
  }

  .actions {
    margin-top: 5em;
    display: block;
  }

  .actions_small {
    display: none;
  }
}
