.product_container {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

/* .prod_content {
  position: absolute;
  top: 40%;
} */

.product_actions {
  width: 100%;
  text-align: center;
}

.dropdown {
  width: 40% !important;
  font-weight: bolder;
  color: #6e6969 !important;
  min-width: 300px !important;
  margin-top: 2em;
  /* margin-right: 1em; */
  box-shadow: 0px 0px 2px 2px !important;
}

.search_bar {
  display: block;
  margin-top: 2em;
  box-shadow: 0px 0px 1px 2px;
}

@media screen and (min-width: 700px) {
  .prod_content {
    margin-top: 5em !important;
  }

  .product_actions {
    display: flex;
    position: relative;
  }

  .dropdown {
    position: absolute;
    left: 5%;
  }

  .search_bar {
    position: absolute !important;
    right: 5%;
    /* top: 2em; */
    margin-top: 2em;
    box-shadow: 0px 0px 1px 2px;
  }

  .products_head {
    position: absolute !important;
    left: 5% !important;
    margin: 0.67em;
  }
}
